@{
    ViewData["Title"] = "Write to database";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Using this area simply because I'm using a free API</p>

Here I will call the RESTful API with J Query and ajax


