@{
    ViewData["Title"] = "Games";
}
<h1 style="background-color: #56baed; text-align: center">@ViewData["Title"]</h1>

<br />

<body onload="getGames()">
<!-- Drop down to determine what games users want to see -->
    <div align="center" class="custom-select">
        <select id="timeline">
            <!-- <option selected disabled>Choose one</option> -->
            <option value="1">Today</option>
            <option value="2" selected>Upcoming Games</option>
            <option value="3">Previous Games</option>
        </select>
        

        <select id="teamSearch">
            <option selected disabled>Choose Team</option>
            <option value="team1">None</option>
            <option value="team2">Blazers</option>
            <option value="team3">Nuggets</option>
            <option value="team4">Warriors</option>
            <option value="team5">Rockets</option>
            <option value="team6">Lakers </option>
            <option value="team7">Raptors </option>
            <option value="team8">Celtics </option>
            <option value="team9">Spurs </option>
            <option value="team10">  Heat</option>
            <option value="team11">Cavaliers </option>
            <option value="team12">  76ers</option>
            <option value="team13"> Bucks</option>
            <option value="team14">Thunder</option>
            <option value="team15"> Knicks</option>
            <option value="team16">Jazz </option>
            <option value="team17"> Nets </option>
            <option value="team18"> Clippers</option>
            <option value="team19">  Bulls</option>
            <option value="team20"> Mavericks</option>
            <option value="team21">Pistons </option>
            <option value="team22"> Magic</option>
            <option value="team23">Kings</option>
            <option value="team24">Pacers </option>
            <option value="team25"> Timberwolves</option>
            <option value="team26"> Suns </option>
            <option value="team27"> Pelicans</option>
            <option value="team28">Hornets </option>
            <option value="team29"> Hawks</option>
            <option value="team30"> Wizards </option>
            <option value="team31"> Grizzlies</option>

        </select>

    </div>  
    

<div class="wrapper">
    <input type="button" value="Update" onclick="getGames()">
</div>

    

<div id="games">
    <table id="gameTable" class="table" style="width:100%">
        <thead>
            <tr>
                <th>Home Team</th>
                <th>Visiting Team</th>
                <th>Game Time</th>
                <th>Home Score</th>
                <th>Visiting Score</th>
                <th>Pick</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<div id="test"> </div>

<input type="button" value="Submit Picks" onclick="postPicks()">

</body>


<script>
function getFormattedDate(data) {
        return data.substr(0, 10) + ' ' + data.substr(11, 18);

    }


    function getGames() {

        var id = $("#timeline").val();

        var teamSearch = document.getElementById('teamSearch');
        var selectedTeam = teamSearch.options[teamSearch.selectedIndex].text;

        $('#gameTable').find('tbody').empty();

        $.ajax({
            url: 'https://localhost:5001/api/Game/' + id + '/' + selectedTeam,
            type: 'GET',
            success: function (data, request) {
                for (var i = 0; i < data.length; i++) {
                    var formattedDate = getFormattedDate(data[i].gameDate);
                    var pickId = data[i].id;
                    var markup = "<tr class='item'><td class='home' name=\"" + data[i].homeTeamId + "\">"
                        + data[i].homeTeam + "</td><td class='visit' name=\"" + data[i].visitingTeamId + "\">"
                        + data[i].visitingTeam + "</td><td>"
                        + formattedDate + "</td><td>"
                        + data[i].homeScore + "</td><td>"
                        + data[i].visitingScore + "</td><td id=\"row" + pickId + "\">"
                        + "<select class='pick' id=\"" + pickId + "\" name=\"" + pickId + "\">"
                        + "<option value='home'>" + data[i].homeTeam + "</option>"
                        + "<option value='visit'>" + data[i].visitingTeam + "</option>"
                        + "<option value='none' selected>None</option>"
                        + "</select></td><td>"
                        + "<input type='button' value='Submit' id=\"submit" + pickId + "\" onclick='postPick(\"" + data[i].id + "\", \"" + data[i].isFuture + "\")'></td></tr>";


                    $('#gameTable').append(markup)
                }
            },
            error: function (request) {
                // handle error
            }
        })
    }

    function getId(teamName, handleData) {

        var id = 0;

        $.ajax({
            url: 'https://localhost:5001/api/Team/' + teamName,
            type: 'GET',
            success: function (data, request) {
                handleData(data.id);
            },
            error: function (request) {
                // handle error
            }
        })
        return id;
    }


    function postPicks() {


        var values = new Array();

        $("tr.item").each(function () {
            var pickObject = { "Pick": "", "Game": "" };
            var quantity1 = $(this).find("select.pick option:selected").val(),
                gameId = $(this).find("select.pick").attr('name');

            if (quantity1 == "visit") {
                quantity1 = $(this).find("td.visit").attr('name');

            }
            else if (quantity1 == "home") {
                quantity1 = $(this).find("td.home").attr('name');
            }

            //$('#test').append(pickObject.Pick);

            if (quantity1 == "none") {

            }
            else{
                pickObject.Pick = quantity1;
                pickObject.Game = gameId;
                values.push(pickObject);
                //$('#test').append(pickObject.pick, pickObject.game);
            }

        });


        values = JSON.stringify(values);
        //$('#test').append(values);

        $.ajax({
            url: '@Url.Action("InsertPicks","Home")',
            //dataType: "json",
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            cache: false,
            data: values,
            success: function (data, request) {
                alert("Successfully made picks");
            },
            error: function (request) {
                // handle error
            }

        })


    }


    function postPick(gameId, isFuture) {

        if (isFuture == 1) {
            var selectTable = document.getElementById(gameId);
            var team = selectTable.options[selectTable.selectedIndex].text;

            $('#row' + gameId).empty();
            $('#row' + gameId).append(team);
            $('#submit' + gameId).remove();

            getId(team, function (output) {
                teamId = output;

                $.ajax({
                    url: 'https://localhost:5001/api/Pick/',
                    type: 'POST',
                    data: JSON.stringify({
                        "pick": teamId,
                        "game": gameId
                    }),
                    success: function (data, request) {
                        alert("success");
                    },
                    dataType: "json",
                    contentType: "application/json",
                    error: function (request) {
                        // handle error
                    }
                })
                alert("You have picked the " + team);
            });
        }
        else {
            alert("Cannot make a pick for a game that has already happened");
        }





    }</script>