@model Bet.Models.LoginUser
@{
    ViewData["Title"] = "Home Page";
}

<p> @ViewData["Message"] </p>

<h1 style="background-color: #56baed; text-align: center"> Login </h1>

<br />

<div class="wrapper fadeInDown">
    <div id="formContent">


    <form action="/Form" method="post">
        <div class="fadeIn first">
            <label for="uname"><b>Username</b></label>
            <input type="text" class="fadeIn first" id="username" placeholder="Enter Username" name="uname" required>
            <br />
            <label for="psw"><b>Password</b></label>
            <input type="password" style="align-self:center" class="fadeIn second" id="password" placeholder="Enter Password" name="psw" required>
            <br />
            <input type="submit" class="fadeIn third"></input>
            <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>">
            @Html.ActionLink("Register", "Register", "Home", null, new { @class = "page-scroll" })
        </div>
    </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>


