@{
    ViewData["Title"] = "Picks";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<body onload="getPicks()">
<br />

<!-- Populate the table to show games -->
<input type="button" value="Get Picks" onclick="getPicks()">



<br /> <br />

<div id="picks">
    <table id="pickTable" class="table" style="width:100%">
        <thead>
            <tr>
                <th>Home Team</th>
                <th>Visiting Team</th>
                <th>Game Time</th>
                <th>Home Score</th>
                <th>Visiting Score</th>
                <th>Pick</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<a class="export" href="@Url.Action("Export", new {table="Picks"})"> Export </a>

</body>



<script>

    function getFormattedDate(data) {
        return data.substr(0, 10) + ' ' + data.substr(11, 18);

    }


    function getPicks() {

        $('#pickTable').find('tbody').empty();

        $.ajax({
            url: 'https://localhost:5001/api/Pick/',
            type: 'GET',
            success: function (data, request) {
                for (var i = 0; i < data.length; i++) {
                    var formattedDate = getFormattedDate(data[i].gameDate);
                    var id = data[i].id;
                    var markup = "<tr id=\"row" + data[i].id + "\"><td>"
                        + data[i].homeTeam + "</td><td>"
                        + data[i].visitingTeam + "</td><td>"
                        + formattedDate + "</td><td>"
                        + data[i].homeScore + "</td><td>"
                        + data[i].visitingScore + "</td>"
                        + "<td id=" + data[i].id + ">"
                        + data[i].teamPick + "</td><td>"
                        + "<td id=\"buttonCol" + data[i].id + "\">"
                        + "<input type='button' id=\"button" + data[i].id + "\" value='Edit' onclick='editPick(\"" + data[i].id + "\", \"" + data[i].gameId + "\", \"" + data[i].homeTeam + "\", \"" + data[i].visitingTeam + "\", \"" + data[i].isFuture + "\", \"" + data[i].homeTeamId + "\", \"" + data[i].visitingTeamId + "\")'>"
                        + "</td></tr>";

                    $('#pickTable').append(markup)
                }
            },
            error: function (request) {
                // handle error
            }
        })
    }


    function editPick(pick, gameId, home, away, isFuture, homeId, visitingId) {



        if (isFuture == 1) {

            $('#' + pick + '').empty();
            var buttonMarkup = "<input type='button' id=\"submit" + pick + "\" value='Submit' onclick='postPick(\"" + pick + "\", \"" + gameId + "\", \"" + home + "\", \"" + away + "\", \"" + isFuture + "\", \"" + homeId + "\", \"" + visitingId + "\")'>"

            var markup = "<select id='pick'>"
                + "<option value='home'>" + home + "</option>"
                + "<option value='visit'>" + away + "</option>"
                + "<option value='none'>None</option>"

            $('#' + pick + '').append(markup);
            $('#buttonCol' + pick + '').append(buttonMarkup);
            $('#button' + pick).remove();

        }
        else {
            alert("Can not update a pick for a game that's already happened")
        }



    }


    function postPick(pickId, gameId, home, away, isFuture, homeId, visitingId) {
        var pick = $("#pick option:selected").val();
        var teamId = 0;
        if (pick == "home") {
            teamId = homeId; 
            $('#' + pickId).empty();
            $('#' + pickId).append(home);
            $('#submit' + pickId).remove();
            var buttonMarkup = "<input type='button' id=\"button" + pickId + "\" value='Edit' onclick='editPick(\"" + pickId + "\", \"" + gameId + "\", \"" + home + "\", \"" + away + "\", \"" + isFuture + "\", \"" + homeId + "\", \"" + visitingId + "\")'>"
            $('#buttonCol' + pickId).append(buttonMarkup);

            // ajax call update
            $.ajax({
                url: 'https://localhost:5001/api/Pick/' + pickId,
                type: 'PUT',
                data: JSON.stringify({
                    "id": pickId,
                    "pick": teamId,
                    "game": gameId,
                }),
                success: function(data, request){
                    alert("Your pick has been made");
                },
                error: function(request) {
                    // handle error
                },
                dataType: "json",
                contentType: "application/json"
            })

            alert("You have changed your pick to the " + home);
        }
        else if (pick=="none") {
            teamId = visitingId;
            //$('#' + pickId).empty();
            //$('#' + pickId).append(away);
            //$('#submit' + pickId).remove();
            $('#row' + pickId).remove();
            // remove the entire row here 
            //var buttonMarkup = "<input type='button' id=\"button" + pickId + "\" value='Edit' onclick='editPick(\"" + pickId + "\", \"" + gameId + "\", \"" + home + "\", \"" + away + "\", \"" + homeId + "\", \"" + visitingId + "\")'>"
            //$('#buttonCol' + pickId).append(buttonMarkup);

            // ajax call update
            $.ajax({
                url: 'https://localhost:5001/api/Pick/' + pickId,
                type: 'PUT',
                data: JSON.stringify({
                    "id": pickId,
                    "pick": 0,
                    "game": gameId,
                }),
                success: function(data, request){
                    alert("Your pick has been made");
                },
                error: function(request) {
                    // handle error
                },
                dataType: "json",
                contentType: "application/json"
            })

            alert("You have removed your pick");
        }
        else {
            teamId = visitingId;
            $('#' + pickId).empty();
            $('#' + pickId).append(away);
            $('#submit' + pickId).remove();
            var buttonMarkup = "<input type='button' id=\"button" + pickId + "\" value='Edit' onclick='editPick(\"" + pickId + "\", \"" + gameId + "\", \"" + home + "\", \"" + away + "\", \"" + homeId + "\", \"" + visitingId + "\")'>"
            $('#buttonCol' + pickId).append(buttonMarkup);

            // ajax call update
            $.ajax({
                url: 'https://localhost:5001/api/Pick/' + pickId,
                type: 'PUT',
                data: JSON.stringify({
                    "id": pickId,
                    "pick": teamId,
                    "game": gameId,
                }),
                success: function(data, request){
                    alert("Your pick has been made");
                },
                error: function(request) {
                    // handle error
                },
                dataType: "json",
                contentType: "application/json"
            })
            alert("You have changed your pick to the " + away);
        }

    }</script>